/* eslint-disable */
<template>
  <div>
	<header class="header">
		<div class="container">
			<h1 class="header__title">EZI Fresh Start Calculator</h1>
			<div class="header__block">
				<h4 class="header__block-title">Max level</h4>
				<span class="level-select" v-on:click="setMaxSkillPoints(25)" v-bind:class="[max_skill_points === 25 ? 'level-select_active' : '']">50</span>
				<span class="level-select" v-on:click="setMaxSkillPoints(28)" v-bind:class="[max_skill_points === 28 ? 'level-select_active' : '']">55</span>
			</div>
			<div class="header__block">
				<h4 class="header__block-title">Skillpoints</h4>
				<span>{{ skill_points }}/{{ max_skill_points }}</span>
			</div>
			<div class="header__block">
				<select class="class-selector__select" 
					v-on:change="selectClass">
					<option default>Select Class</option>
					<option v-for="item in classes" :value="item.name">{{ item.name }}</option>
				</select>
			</div>
			<div class="header__block header__block_float">
				<h3>{{ current_class }}</h3>
			</div>
		</div>
	</header>
	<main class="body">
		<div class="container">
			<!--<span>Required level: {{ min_level }}</span>-->
			<div class="calculator">
				<div class="calculator__wrapper">
					<div class="class-selector">
						<div class="class-selector__trees">
							<div v-for="(value, key) in trees" class="class-selector__tree" v-bind:class="[value.active ? 'class-selector__tree_active' : '', 'class-selector__tree_'+key]" v-on:click="selectTree(key)">
								{{ key }}
							</div>
						</div>
					</div>
					<div v-for="(value, key) in trees" class="skill-tree" v-bind:class="'skill-tree_'+key" v-show="value.active">
							<div class="skill-tree__inner-wrapper">
								<div class="skill-tree__list">
									<div class="skill-tree__actives">
										<div 
										v-for="item in filterSkills(key, 'active')" class="skill-tree__skill" 
										v-bind:class="[active_skills.indexOf(item.name) != -1 ? 'skill-tree__skill_active' : 'skill-tree__skill_disabled']" 
										v-on:click="toggleSkill(item)"
										v-tooltip="{content: getTooltip(item), placement: 'right', offset: '7'}" >
											<img v-bind:src="'/static/'+key+'/'+item.type+'/'+item.name.replace(/ /g, '-').toLowerCase()+'.png'" />
										</div>
									</div>
									<div class="skill-tree__passives">
										<div v-for="item in filterSkills(key, 'passive')" class="skill-tree__skill skill-tree__skill_passive" v-bind:class="[active_skills.indexOf(item.name) != -1 ? 'skill-tree__skill_active' : 'skill-tree__skill_disabled']" v-on:click="toggleSkill(item)" v-bind:data-skill-req="item.req" v-tooltip="{content: getTooltip(item), placement: 'right', offset: '7'}" >
											<img v-bind:src="'/static/'+key+'/'+item.type+'/'+item.name.replace(/ /g, '-').toLowerCase()+'.png'" />
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="share">
				<input type="text" readonly v-bind:value="share_link">
				<a href="#" v-on:click="getShareLink">Generate link</a>
			</div>
			<div class="disclaimer">
				<span>The information displayed on this website may not be 100% correct. All information is based off the latest update on omnom.io link: <a href="https://omnom.io/4-5-skills/">https://omnom.io/4-5-skills/</a></span>
			</div>
		</div>
	</main>
  </div>
</template>

<script>
export default {
  name: 'Calculator',
  data() {
	return {
		host: '',
		max_skill_points: 25,
		max_level: 50,
		min_level: 0,
		active_trees: 0,
		active_tree_names: [],
		active_skills: [],
		skill_points: 0,
		current_class: '',
		share_link: '',
		trees: {
			'battlerage': {active: false},
			'sorcery': {active: false}, 
			'archery': {active: false}, 
			'witchcraft': {active: false}, 
			'occultism': {active: false}, 
			'shadowplay': {active: false}, 
			'auramancy': {active: false}, 
			'songcraft': {active: false}, 
			'vitalism': {active: false},
			'defense': {active: false}
		},
		skills: [ // still needs abyssals
			{tree: 'battlerage', name: 'Triple Slash', type: 'active', level_req: 1, mana_req: 12, range: '0-4m', attack: '<b>Melee Attack</b> +140%', cast_time: 'Instant', cooldown: '0 Seconds', description: 'Attacks up to 3 times in a row dealing [damage] Physical Damage each hit. <br/> Attack 1: Deals 0 + 140% Melee Attack. <br/> Attack 2: Deals 0 + 140% Melee Attack. <br/> Attack 3: Deals 0 + 200%.', combo: 'Snared targets are Shaken. <br/> Tripped targets receive an additional 48% damage. <br/> Players under the effect of Toughen have their aggro threat tripled while using Triple Slash.'},
			{tree: 'battlerage', name: 'Charge', type: 'active', level_req: 3, mana_req: 62, range: '0-12m', attack: '<b>Melee Attack</b> +100%', cast_time: 'Instant', cooldown: '12 Seconds', effect: 'Targets are Snared for 3.5 seconds. <br/> This duration is decreased by 50% in PvP.', description: 'Charges at the target. <br/> Deals 538 + 100% Melee Attack.', combo: 'Slowed targets receive an additional 26% damage. <br/> Stunned targets are Tripped.'},
			{tree: 'battlerage', name: 'Battle Focus', type: 'active', level_req: 10, mana_req: 54, range: 'Self', cast_time: 'Instant', cooldown: '42 seconds', effect: 'Buff lasts for 20 Seconds. <br/> Increases Melee Parry Rate 30%. <br/> Increases Melee Critical Damage by 20%.'},
			{tree: 'battlerage', name: 'Whirlwind Slash', type: 'active', level_req: 15, mana_req: 132, range: '5m Radius', attack: '<b>Melee Attack</b> +200%', cast_time: 'Instant', cooldown: '12 Seconds', description: 'Deals 483 + 200% Melee Attack.', combo: 'First Attack: Slowed targets are Tripped for 3.5 seconds. <br/> Second Attack: Tripped targets receive an additional 26% damage. <br/> Third Attack: Stunned targets receive an additional 52% damage. <br/> Bleeding targets receive an additional 33% damage.'},
			{tree: 'battlerage', name: 'Sunder Earth', type: 'active', level_req: 20, mana_req: 209, range: '9m Radius', attack: '<b>Melee Attack</b> +400%', cast_time: '0.5 Seconds', cooldown: '16 Seconds', effect: 'Creates a radius of 9m for 7 seconds, which reduces received damage by 30% for the caster and their allies.', description: 'Deals 766 + 400% Melee Attack.', combo: 'Tripped targets receive an additional 58% damage. <br/> When the caster is under the effects of Toughen, enemies damaged by Sunder Earth are Taunted for 3 seconds. <br/> Bleed targets receive an additional 34% damage.'},
			{tree: 'battlerage', name: 'Frenzy', type: 'active', level_req: 25, mana_req: 55, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute 30 Seconds', description: 'Grants the Frenzy buff for 20 seconds. <br/> Each time that you take damage, your Melee Attack is increased by 80. <br/> Each time that you take damage, your Physical Defense is decreased by 10%. <br/> Decreases the mana cost of all Battlerage skills by 70%. <br/> Extends the duration of the Frenzy buff by 20 seconds each time you kill an enemy. <br/>  When the timer on the Frenzy buff is up, you are Exhausted for 4 seconds.'},
			{tree: 'battlerage', name: 'Precision Strike', type: 'active', level_req: 30, mana_req: 94, range: '0-4m', attack: '<b>Melee Attack</b> +360%', cast_time: 'Instant', cooldown: '21 Seconds', description: 'Deals 720 + 360% Melee Attack.', combo: 'Bleeding targets receive an additional 37% damage.'},
			{tree: 'battlerage', name: 'Tiger Strike', type: 'active', level_req: 35, mana_req: 183, range: '0-18m', attack: '<b>Melee Attack</b> +130%', cast_time: 'Instant', cooldown: '18 Seconds', effect: 'The first target of Tiger Strike receives the debuff Overwhelmed, which decreases the effectiveness of healing by 33% for 8 seconds on that target. This debuff stacks up to 3 times.', description: 'Deals 668 + 130% Melee Attack.', combo: 'Shaken targets receive an additional 13% damage. <br/> Slowed targets are Snared for 5 seconds. <br/> Impaled targets are Tripped for 3 seconds. <br/> Overwhelmed targets receive the Stagger debuff for 1 second, briefly stopping movement and canceling all skills except for ongoing skills.'},
			{tree: 'battlerage', name: 'Bondbreaker', type: 'active', level_req: 40, mana_req: 88, range: 'Self', cast_time: 'Instant', cooldown: '18 Seconds', effect: 'Removes all Snare effects. Can only be used while Snared.'},
			{tree: 'battlerage', name: 'Terrifying Roar', type: 'active', level_req: 45, mana_req: 69, range: '5m Radius', cast_time: 'Instant', cooldown: '18 Seconds', effect: 'Enemies within the radius are Weakened for 7 seconds.', combo: 'Feared targets are Tripped.'},
			{tree: 'battlerage', name: 'Ollos Hammer', type: 'active', level_req: 50, mana_req: 188, range: '0-15m', attack: '<b>Melee Attack</b> +209%', cast_time: 'Instant', cooldown: '42 Seconds', effect: 'Targets are Stunned for 2.5 seconds.', description: 'Deals 686 + 209% Melee Attack', combo: 'Slowed targets receive an additional 44% damage.'},
			{tree: 'battlerage', name: 'Behind Enemy Lines', type: 'active', level_req: 55, mana_req: 157, range: '6-20m and 4m Radius', attack: '<b>Melee Attack</b> +110%', cast_time: 'Instant', cooldown: '21 Seconds', effect: 'Targets are Shaken for 3 seconds, which does the following: <br/> Movement Speed reduced by 27% <br/> Skill Damage reduced by 8% <br/> Attack Speed reduced by 75', description: 'Deals 576 + 110% Melee Attack.', combo: 'Snared targets are Distressed for 7 seconds. <br/> Slept targets are Tripped for 3 seconds.'},
			{tree: 'battlerage', name: 'Weapon Mastery', type: 'passive', req: 2, description: 'Increases your Melee Critical Damage by 9%.'},
			{tree: 'battlerage', name: 'Deflect and retaliate', type: 'passive', req: 4, description: 'When dual-wielding, Parry deflects Ranged Attacks as well.<br/>Permanently increases Parry rate +2%; each successful parry resets the cooldown on all Battlerage attack skills.<br/>This ability has a 12 second cooldown once triggered.'},
			{tree: 'battlerage', name: 'Attack speed training', type: 'passive', req: 6, description: 'Grants the Delirium buff.<br/>The buff gives the following for 9 seconds:<br/>- Melee Critical Damage increased by 5%</br>- Attack Speed increased by 30<br/>Delirium stacks up to 5 times.'},
			{tree: 'battlerage', name: 'Weapon maneuvers', type: 'passive', req: 8, description: 'Increases Strength by 12%.'},
			{tree: 'battlerage', name: 'Puncture', type: 'passive', req: 10, description: 'Melee Critical attack decrease target’s Physical Defense by 3000 for 5 seconds.'},

			{tree: 'sorcery', name: 'Flame Bolt', type: 'active', level_req: 1, mana_req: 21, range: '0-20m', attack: '<b>Magic Attack</b> +209%', cast_time: '1 Second', cooldown: '0 Seconds', description: 'Deals [damage] Magic Damage to an enemy<br/> Can be used up to 3 times in a row without triggering a cooldown.<br/> Attack 1: Inflicts Burning for [duration].', combo: 'Chilled targets receive an additional 12% damage.<br/>Inflicts Conflagration on Burning targets for 7 seconds.', effect: 'Inflicts <b>Burning</b> on targets for 3.2 seconds.'},
			{tree: 'sorcery', name: 'Freezing Arrow', type: 'active', level_req: 3, mana_req: 201, range: '0-20m', attack: '<b>Magic Attack</b> +340%', cast_time: '2 Seconds', cooldown: '6 Seconds', description: 'Fires an Ice Arrow at an enemy, dealing 1161 + 340% of your Magic Attack and decreasing Move Speed for [duration].<br/>', effect: 'Targets hit are Iced and Slowed for 4 seconds.<br/>Inflicts Deep Freeze on targets for 14 seconds. This duration is reduced by 50% in PvP.', combo: 'Eliminates the cast time of Freezing Arrow for the duration of Frigid Tracks.'},
			{tree: 'sorcery', name: 'Insulating Lense', type: 'active', level_req: 10, mana_req: 108, range: 'Self', cast_time: '1 Second', cooldown: '40 Seconds', description: 'Creates a protection ward around the caster.<br/> Increases Physical Defense +700 for 40 seconds.<br/> Absorbs up to [damage] before expiring.'},
			{tree: 'sorcery', name: 'Arc Lightning', type: 'active', level_req: 15, mana_req: 188, range: '0-20m', attack: '<b>Magic Attack</b> +601%', cast_time: '3 Seconds', cooldown: '15 Seconds', description: 'Deals 1091 + 601% of your Magic Attack.<br/>Shocks the target, and applies a debuff that deals 631 (Note: This amount depends on your Magic Attack, but the specific ratio is currently unknown) Magic Damage over 8 seconds, as well as shocks enemies within a 2m radius.', combo: 'Burning targets receive an additional 12% damage.'},
			{tree: 'sorcery', name: 'Magic Circle', type: 'active', level_req: 20, mana_req: 134, range: 'Self', cast_time: 'Instant', cooldown: '21 Seconds', description: 'Creates a Magic Circle around the caster for 20 seconds.<br/> Increases Magic Attack by 141.0 and Magic Critical Rate by 9%'},
			{tree: 'sorcery', name: 'Freezing Earth', type: 'active', level_req: 25, mana_req: 260, range: '8m', attack: '<b>Magic Attack</b> +140%', cast_time: 'Instant', cooldown: '28 Seconds', description: 'Deals 749 + 140% of Magic Attack to all enemies within 8 meters with a chance to snare for 0.7 sec.<br/>Snare duration reduced -50% in PvP.', combo: 'Targets are Snared and Iced.<br/>Iced targets are Deep Frozen for 8 seconds. This duration is reduced by 50% in PvP.'},
			{tree: 'sorcery', name: 'Flame Barrier', type: 'active', level_req: 30, mana_req: 473, range: 'Self', attack: '<b>Magic Attack</b> +400%', cast_time: 'Instant', cooldown: '26 Seconds', description: 'Deals 1331 + 400% of your Magic Attack over 5 seconds.<br/> Spawns a 20m wall of fire that lasts 5 seconds, deals damage and slows enemies.', combo: 'Targets are Burned and Slowed. <br/> Iced targets receive an additional 41% damage.'},
			{tree: 'sorcery', name: 'Chain Lightning', type: 'active', level_req: 35, mana_req: 198, range: '0-12m', attack: '<b>Magic Attack</b> +209%', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Deals 389 + 110% of your Magic Attack.<br/> Shocks the target, and applies a debuff that deals 651 (Note: This amount depends on your Magic Attack, but the specific ratio is currently unknown) Magic Damage over 8 seconds, as well as shocks enemies within a 2m radius.<br/> May also affect other enemies within a 5m radius, and can strike up to 5 times, dealing 50% less damage with each subsequent hit.', combo: 'If you are under the effect of Insulating Lens, the target is Silenced for 2 seconds.<br/>If you are under the effect of Insulating Lens, the target is Stunned for 2 seconds.'},
			{tree: 'sorcery', name: 'Searing Rain', type: 'active', level_req: 40, mana_req: 487, range: 'Self', attack: '<b>Magic Attack</b> +260%', cast_time: '2 Seconds', cooldown: '28 Seconds', description: 'Deals 458 + 260% of your Magic Attack over 7 seconds.<br/> Rains down fire on all enemies in a 10 meter radius for 7 seconds.', effect: 'Inflicts Burning on targets for 4.2 seconds.', combo: 'Iced targets receive an additional 44% damage.'},
			{tree: 'sorcery', name: 'Frigid Tracks', type: 'active', level_req: 45, mana_req: 118, range: 'Self', cast_time: '2 Seconds', cooldown: '40 Seconds', description: 'Freezes your footprints for 9 seconds. The ice Freezes anyone who steps on it, but melts in 4 seconds.', combo: 'The cast time from Freezing Arrow is removed for the duration of Frigid Tracks.'},
			{tree: 'sorcery', name: 'Meteor Strike', type: 'active', level_req: 50, mana_req: 605, range: '0-25m', attack: '<b>Magic Attack</b> +900%', cast_time: '5 Seconds', cooldown: '34 Seconds', description: 'Deals 1699 + 900% of your Magic Attack.<br/> Calls down a meteor, dealing [damage] Magic Damage to all enemies in the target area.', effect: 'Targets are Burned and Tripped. The Trip lasts 2.5 seconds.', combo: 'Iced targets receive an additional 30% damage.'},
			{tree: 'sorcery', name: 'Gods Whip', type: 'active', level_req: 55, mana_req: 86, range: '0-22m', attack: '<b>Magic Attack</b> +140%', cast_time: 'Instant', cooldown: '25 Seconds', description: 'Deals 259 + 140% of your Magic Attack. <br/> You can cast god\'s Whip consecutively up to 5 times,<br/> with each cost dealing more damage but costing more mana.', effect: 'Shocks the target, and applies a debuff that deals 670 (Note: This amount depends on your Magic Attack, but the specific ratio is currently unknown) Magic Damage over 8 seconds, as well as shocks enemies within a 2m radius.', combo: 'If the target is Burning, then God’s Whip deals 20% more damage to that target.'},
			{tree: 'sorcery', name: 'Recuperation', type: 'passive', req: 2, description: 'Increases Magic Critical Damage by 9%.'},
			{tree: 'sorcery', name: 'Mana Pool Increase', type: 'passive', req: 4, description: 'Your mana pool is increased by 35%.'},
			{tree: 'sorcery', name: 'Mana Flurry', type: 'passive', req: 6, description: 'Upon using Insulating Lens, Frigid Tracks, or Magic Circle, you receive the Mana Fountain buff, which lasts 8 seconds and gives you the following:<br/>- Attack Speed increased by 150<br/>- Cast Time decreased by 16%<br/>- Physical Defense decreased by 20%<br/>The duratino of Mana Fountain is renewed each time one of the three skills is used.'},
			{tree: 'sorcery', name: 'Efficient Sorcery', type: 'passive', req: 8, description: 'Increases your Intelligence by 12%.'},
			{tree: 'sorcery', name: 'Aranzebs Infusion', type: 'passive', req: 10, description: 'Decreases Cast Time by 8%.'},

			{tree: 'archery', name: 'Endless Arrow', type: 'active', level_req: 1, mana_req: 5, range: '0-25m', attack: '<b>Ranged Attack</b> +52%', cast_time: 'Instant', cooldown: '0 Seconds', description: 'Deals 0 + 52% Ranged Attack.', combo: 'Slowed targets receive an additional 24% damage. <br/> Bleeding targets receive an additional 33% damage.'},
			{tree: 'archery', name: 'Charged Bolt', type: 'active', level_req: 3, mana_req: 62, range: '0-25m', attack: '<b>Ranged Attack</b> +300%', cast_time: 'Instant', cooldown: '12 Seconds', effect: 'Targets are Slowed by 30% for 2.5 seconds. <br/> This skill cannot be Evaded, Blocked or Parried.', description: 'Deals 538 + 300% Ranged Attack.', combo: 'Bleeding targets receive an additional 36% damage. <br/> Slowed targets are Slowed for 4 seconds. <br/> Bubble Trapped targets are Stunned for 3 seconds.'},
			{tree: 'archery', name: 'Snare', type: 'active', level_req: 10, mana_req: 97, range: '5m Radius', cast_time: 'Instant', cooldown: '24 Seconds', effect: 'Snares all enemies within a 5m radius for 7.2 seconds. The duration of Snare is reduced by 50% in PvP.'},
			{tree: 'archery', name: 'Aiming Shot', type: 'active', level_req: 15, mana_req: 71, range: 'Self', cast_time: 'Instant', cooldown: '40 Seconds', effect: 'Gives you the Aim and Shoot buff for 6 seconds. <br/> While in the Aim and Shoot stance, you cannot run, but you can still move. <br/> Increases Ranged Critical Damage by 35% while in Aim and Shoot. <br/> Reduces Block, Parry and Evasion rate by 100%. <br/> Does not affect Global Cooldowns.'},
			{tree: 'archery', name: 'Arrow of Light', type: 'active', level_req: 20, mana_req: 72, range: '0-25m', attack: '<b>Ranged Attack</b> +180%', cast_time: 'Instant', cooldown: '7 Seconds', effect: 'Fires an arrow that Blinds your target which lasts for 10 seconds and decreases target\'s Accuracy by 4%. This stacks up to 4 times. <br/> Arrow of Light has a 100% chance of being a Critical Attack.', description: 'Deals 528 + 180% Ranged Attack', combo: 'Bleeding targets receive an additional 27% damage. <br/> Targets under the effects of Stalker\'s Mark are Bled for 14 seconds.'},
			{tree: 'archery', name: 'Emission Fire', type: 'active', level_req: 25, mana_req: 71, range: '0-13m', attack: '<b>Ranged Attack</b> +150%', cast_time: 'Instant', cooldown: '45 Seconds', effect: 'Pushes your target back 15m.', combo: 'Blinded targets are Weakened for 7 seconds. <br/> Targets under the effect of Stalkers Mark are pushed back 5m further.'},
			{tree: 'archery', name: 'Deadeye', type: 'active', level_req: 30, mana_req: 62, range: 'Self', cast_time: '1.0 Second', cooldown: '1 Minute 20 Seconds', effect: 'Grants you a buff that activates while standing still for more than 1 second, and increases your Ranged Critical Hit Rate by 13%. This buff lasts for 60 seconds. <br/> Does not affect Global Cooldowns.'},
			{tree: 'archery', name: 'Concussive Arrow', type: 'active', level_req: 35, mana_req: 327, range: '0-25m and 6m Radius', attack: '<b>Ranged Attack</b> +375%', cast_time: '1.5 Seconds', cooldown: '30 Seconds', effect: 'Silences your target for 3.5 seconds. <br/> Concussive Arrow cannot be Blocked, Parried or Evaded.', description: 'Deals 1197 + 375% Ranged Attack.', combo: 'Bleeding targets receive an additional 20% damage.'}, 
			{tree: 'archery', name: 'Intensity', type: 'active', level_req: 40, mana_req: 88, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute', effect: 'Grants the caster a buff that decreases the cooldown of Snare and Mana Force by 60% (90% if you have the Aria of Archery equipped. <br/> Decreases aggro generation by 50%. <br/> This buff lasts for 16 seconds. <br/> Does not affect Global Cooldowns.'},
			{tree: 'archery', name: 'Double Recurve', type: 'active', level_req: 45, mana_req: 110, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute and 30 Seconds', effect: 'Grants a buff that increases your Ranged Damage by 20%. Lasts for 12 seconds. <br/> Does not affect Global Cooldowns.'},
			{tree: 'archery', name: 'Missile Rain', type: 'active', level_req: 50, mana_req: 173, range: '10-50m and 7m Radius', attack: '<b>Ranged Attack</b> +140%', cast_time: '2.0 Seconds', cooldown: '22 Seconds', description: 'Deals 211 + 140% Ranged Attack.'},
			{tree: 'archery', name: 'Snipe', type: 'active', level_req: 55, mana_req: 299, range: '0-45m', attack: '<b>Ranged Attack</b> +600%', cast_time: '2.0 Seconds', cooldown: '27 Seconds', description: 'Deals 1094 + 600% Ranged Attack.', combo: 'Snared targets are Tripped for 3.1 seconds.'},
			{tree: 'archery', name: 'Eagle eyes', type: 'passive', req: 2, description: 'Increases Ranged Critical Damage by 9%.'},
			{tree: 'archery', name: 'Wild instincts', type: 'passive', req: 4, description: 'Increases Movement Speed by 8%.'},
			{tree: 'archery', name: 'Feral claws', type: 'passive', req: 6, description: 'Whenever an Archery skill of yours is a Critical Hit, you obtain the Feral Mark buff for 9 seconds, which increases your Attack Speed by 55, and reduces the cooldown of your Archery skills by 0.4 seconds.<br/>Feral Mark stacks up to 5 times.'},
			{tree: 'archery', name: 'Evasion', type: 'passive', req: 8, description: 'Increases your Agility by 12%.'},
			{tree: 'archery', name: 'Sharpshooting', type: 'passive', req: 10, description: 'The damage of your Ranged abilities varies directly as a result of the distance from your target.<br/>If you are at a distance of 25m or more from your target, your damage on your Ranged abilities increases by 30%.'},
			
			{tree: 'witchcraft', name: 'Earthern Grip', type: 'active', level_req: 1, mana_req: 167, range: '0-20m', attack: '<b>Magic Attack</b> +100%', cast_time: '1 Second', cooldown: '18 Seconds', description: 'Deals 1225 + 100% of your Magic Attack dealt over 20.6 seconds.<br/> Calls forth a hand from the ground to holad an enemy, inflicting Snare for [duration].<br/> Being damaged by a direct attack will free the target early, but debuffs that deal damage over time will not end this effect. <br/> Snare duration reduced -50% in PvP.', effect: 'Snares target for 16.8 seconds.<br/> The duration of the Snare is 50% shorter during PvP.<br/> Being damaged by a direct attack will free the target early, but debuffs that deal damage over time will not end this effect.', combo: 'Snared targets receive 1004-1339 (Note: This amount depends on your Magic Attack, but the specific ratio is currently unknown) damage.<br/>Deals 141% damage to Enervated targets and returns 30% of it as health.'},
			{tree: 'witchcraft', name: 'Enervate', type: 'active', level_req: 3, mana_req: 55, range: '0-20m', attack: '<b>Magic Attack</b> +90%', cast_time: 'Instant', cooldown: '24 Seconds', description: 'Deals 432 + 90% of your Magic Attack.', combo: 'Feared targets receive an additional 40% damage.', effect: 'Burns 1185-1351 mana over 5 seconds.<br/> Decreases healing effectiveness -60% and increases duration of Stun and Trip +30%.'},
			{tree: 'witchcraft', name: 'Bubble Trap', type: 'active', level_req: 10, mana_req: 108, range: '0-20m', cast_time: '1.5 Second', cooldown: '39 Seconds', description: 'Traps an enemy in a bubble for 18.8 seconds and slowly lifts it into the air.<br/>The target in the bubble can’t attack, but take -50% less Magic Damage.<br/>Being damaged by a direct attack will free the target early, but debuffs that deal damage over time will not end this effect.<br/>Bubble duration reduced -50% in PvP.', combo: 'Targets under the effect of Electric Shock receive 1819-2057 (Note: This amount depends on your Magic Attack, but the specific ratio is currently unknown) magic damage. <br/> Burning targets are lifted higher.'},
			{tree: 'witchcraft', name: 'Insidious Whisper', type: 'active', level_req: 15, mana_req: 71, range: '0-20m', cast_time: '2 Second', cooldown: '45 Seconds', description: 'Fears an enemy for 6.1 seconds. Being damaged by a direct attack has a chance to free the target early, but debuffs that deal damage over time will not end this effect.', combo: 'Increases duration of Fear by 1.5 seconds on Burning targets.'},
			{tree: 'witchcraft', name: 'Mirror Warp', type: 'active', level_req: 20, mana_req: 29, range: 'Self', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Teleports caster 15m to the right or left.<br/> Can\'t pass through walls or other solid objects.', combo: 'If the caster is under the effects of Resurgence, then if they pass through allies while teleporting, they will apply Resurgence to one random ally that they pass through.'},
			{tree: 'witchcraft', name: 'Purge', type: 'active', level_req: 25, mana_req: 102, range: '0-20m', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Removes one debuff from the caster.<br/>Increases Magic Defense by 1600 for 3 minutes.<br/> If cast on an Enemy, then it removes one positive buff from that target.', combo: 'Shackled targets are Silenced for 4 seconds.'},
			{tree: 'witchcraft', name: 'Lassitude', type: 'active', level_req: 30, mana_req: 55, range: '0-10m', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Magically fatigues the target, causing them to Sleep for 12 seconds after a 4 sec delay. Enemies will wake upon taking damage.<br/>Sleep duration is reduced by 50% in PvP.', combo: 'Increases duration of Sleep by 10 seconds on targets under Freezing effects.'},
			{tree: 'witchcraft', name: 'Stillness', type: 'active', level_req: 35, mana_req: 52, range: '0-20m and 10m Radius', cast_time: '1 Second', cooldown: '36 Seconds', description: 'Interrupts all enemies within the radius.<br/> Removes all song effects from affected enemies.', effect: 'Inflicts Silence for 3 seconds.'},
			{tree: 'witchcraft', name: 'Dahutas Breath', type: 'active', level_req: 40, mana_req: 504, range: '0-10m', attack: '<b>Magic Attack</b> +150%', cast_time: 'Instant', cooldown: '21 Seconds', description: 'Deals 1843 + 150% of your Magic Attack.<br/>Pushes all enemies back.<br/>If the caster is under the effects of Renewal, then all their allies within the encompassed area receive the Renewal buff as well.'},
			{tree: 'witchcraft', name: 'Focal Concussion', type: 'active', level_req: 45, mana_req: 178, range: '0-15m', attack: '<b>Magic Attack</b> +110%', cast_time: 'Instant', cooldown: '27 Seconds', description: 'Deals 1302 + 110% of your Magic Attack.<br/> Removes 1 positive buff from target if they have any.', effect: 'Slows target for 3 seconds.'},
			{tree: 'witchcraft', name: 'Banshee Wail', type: 'active', level_req: 50, mana_req: 159, range: '0-5m', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Fears all enemies within the radius for 4.6 seconds.<br/>Being damaged by a direct attack has a chance to free the target early, but debuffs that deal damage over time will not end this effect.', combo: 'Increases duration of Fear by 1.5 seconds on Burning targets.', effect: 'Inflicts Fear to all enemies within the radius for 4.6 seconds.'},
			{tree: 'witchcraft', name: 'Fiends Knell', type: 'active', level_req: 55, mana_req: 1420, range: '0-30m', cast_time: '3 Second', cooldown: '45 Seconds', description: 'Summons a pet Fiend for 5 minutes that attacks enemies.<br/> The pet Fiend uses his skills automatically.<br/>The health of the pet was increased to 22,000 this patch (From 14,000).<br/>The pet Fiend cannot be healed, and it cannot restore any health.', combo: 'Enervated targets that are attacked by the Fiend are Slept for 12 seconds.<br/>Targets under the effect of Lassitude are Slept for 12 seconds.'},
			{tree: 'witchcraft', name: 'Augment Witchcraft', type: 'passive', req: 2, description: 'Bubble Trap, Earthen Grip, Insidious Whisper, Lassitude, and Banshee’s Wail have their duration increased by 20%'},
			{tree: 'witchcraft', name: 'Magic Detection', type: 'passive', req: 4, description: 'Banshee’s Wail, Insidious Whisper, Bubble Trap, and Lassitude always hit.'},
			{tree: 'witchcraft', name: 'Baleful Recharge', type: 'passive', req: 6, description: 'Enemies you Fear using Banshee’s Wail or Insidious Whisper grants a stack of Exploitation, which lasts for 40 seconds.<br/>Exploitation:<br/>- Decreases the cooldown of Focal Concussion and Enervate -10% per stack.<br/>- Stacks up to 5 times.<br/>- Casting either spell above consumes one stack.<br/>- While under the effects of Exploitation, both spells will deal 90% of their damage as mana burn instead of normal damage, restoring an equal amount of mana to you.'},
			{tree: 'witchcraft', name: 'Folding Time', type: 'passive', req: 8, description: 'Decreases Cast Time for all skills by 4%.<br/>Increases Attack Speed by 20.'},
			{tree: 'witchcraft', name: 'Illusions Favor', type: 'passive', req: 10, description: 'Decreases Cast Time for Earthen Grip, Insidious Whisper, Stillness, Bubble Trap, and Fiend’s Knell by 0.5 seconds.'},

			{tree: 'occultism', name: 'Mana stars', type: 'active', level_req: 1, mana_req: 6, range: '0-20m', attack: '<b>Magic Attack</b> +45%', cast_time: 'Instant', cooldown: '0 Seconds', description: 'Deals 0 + 45% of your Magic Attack.<br/> Each Mana Star inflicts Fetter upon the target, which decreases Movement Speed by 2%, and decreases Skill Damage and Received Healing by 1% for 3 seconds.<br/>Fetter stacks up to 15 times.<br/> Each consecutive Mana Star within the duration of 3 seconds of the previous cast increases in damage +2%, up to a max of 20%.', effect: 'Does not trigger global cooldowns. Hold down for continuous use.'},
			{tree: 'occultism', name: 'Crippling mire', type: 'active', level_req: 3, mana_req: 195, range: '0-10m', attack: '<b>Magic Attack</b> +300%', cast_time: 'Instant', cooldown: '18 Seconds', description: 'Deals 1425 + 300% of your Magic Attack dealt over 4 seconds.<br/> Counts as an ongoing spell, but is canceled if that target moves far enough away from the caster.', combo: 'If used when under the effects of Deathmark Aura, target is Stunned.', effect: 'Decreases target’s Movement Speed by 50% for 4 seconds.'},
			{tree: 'occultism', name: 'Play dead', type: 'active', level_req: 10, mana_req: 25, range: 'Self', cast_time: 'Instant', cooldown: '40 Seconds', description: 'Caster plays dead for 8 seconds, during which they recover 30% of their health.<br/>Cannot be used during PvP.', combo: 'Players under the effects of Death’s Vengeance recover 50% more Health.'},
			{tree: 'occultism', name: 'Absorb lifeforce', type: 'active', level_req: 15, mana_req: 220, range: '0-10m', attack: '<b>Magic Attack</b> +480%', cast_time: 'Instant', cooldown: '18 Seconds', description: 'Deals 1641 + 480% of your Magic Attack over 6.5 seconds.<br/>Heals the caster for 13% of damage dealt.<br/> Absorb Lifeforce is canceled upon movement by the caster, or by taking any other actions.<br/>If the target’s distance from the caster goes to 15m or higher at any point, Absorb Lifeforce will be cancelled.', combo: 'If the caster is under the effects of Resurgence, then Absorb Lifeforce lasts for 3 seconds longer.', effect: 'Target is Stunned upon cast.'},
			{tree: 'occultism', name: 'Shadow step', type: 'active', level_req: 20, mana_req: 29, range: '0-18m', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Teleports behind an ally or enemy.'},
			{tree: 'occultism', name: 'Boneyard', type: 'active', level_req: 25, mana_req: 142, range: '0-20m', attack: '<b>Magic Attack</b> +100%', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Deals 518 + 100% of your Magic Attack.<br/> Staggers all affected enemies, briefly stopping movement and canceling all skills except for ongoing skills.<br/> Boneyard disappears in 10 seconds if not destroyed.'},
			{tree: 'occultism', name: 'Summon crows', type: 'active', level_req: 30, mana_req:356, range: '0-5m', attack: '<b>Magic Attack</b> +250%', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Deals 518 + 250% of your Magic Attack dealt over 5 seconds.', combo: 'Targets in Stealth within a 20m radius are detected and Summon Crows is applied to them as well.<br/> Decreases both Physical and Magic Accuracy when used on Snared targets.', effect: 'Reduces enemies’ Physical Accuracy for 5 seconds.'},
			{tree: 'occultism', name: 'Hell spears', type: 'active', level_req: 35, mana_req: 472, range: '0-6m', attack: '<b>Magic Attack</b> +150%', cast_time: 'Instant', cooldown: '27 Seconds', description: 'Deals 1726 + 150% of your Magic Attack.', effect: 'Impales targets for 2.6 seconds.'},
			{tree: 'occultism', name: 'Urgency', type: 'active', level_req: 40, mana_req: 71, range: 'Self', cast_time: '3', cooldown: '0 Seconds', description: 'Grants the Urgency buff for 1 minute.<br/> While under the buff, each time you receive damage, Occultism spells that are on cooldown have their cooldown reduced by 1 second.', combo: 'If the caster is Poisoned, then Urgency is cast instantly.'},
			{tree: 'occultism', name: 'Gap of the Abyss', type: 'active', level_req: 45, mana_req: 302, range: '0-20m', cast_time: '2 Seconds', cooldown: '1 Minute', description: 'Creates a vortex at target location which sucks in enemy players to its center for its duration, that being 10 seconds.'},
			{tree: 'occultism', name: 'Summon wraith', type: 'active', level_req: 50, mana_req: 686, range: '0-7m', attack: '<b>Magic Attack</b> +70%', cast_time: 'Instant', cooldown: '1 Minute', description: 'Deals 835 + 70% of your Magic Attack per second for 9 seconds.<br/>Summon Wraith is canceled upon movement by the caster, or by taking any other actions.', effect: 'Decreases Movement Speed, Attack Speed, and Casting Speed of all enemies within the radius.'},
			{tree: 'occultism', name: 'Deaths Vengeance', type: 'active', level_req: 55, mana_req: 394, range: 'Self', attack: '<b>Magic Attack</b> +120%', cast_time: '3 Seconds', cooldown: '0 Seconds', description: 'Deals 1440 + 120% of your Magic Attack.', combo: 'When the caster of Death’s Vengeance dies, surrounding enemies in a 4m radius are stunned and take 1440 + 120% of your Magic Attack over 9 seconds.'},
			{tree: 'occultism', name: 'Overpowered spell locus', type: 'passive', req: 2, description: 'Stun and Skewer duration reduced by 20%.'},
			{tree: 'occultism', name: 'Macabre reach', type: 'passive', req: 4, description: 'Skewer abilities from Occultism always hit.'},
			{tree: 'occultism', name: 'Casters enrichment', type: 'passive', req: 6, description: 'Upon using Hell Spear, Summon Crows, and Bone Cage, the caster recieves the Stigma buff, which decreases the cooldown of Occultism skills by 1%. This effect stacks up to 15 times, and upon reaching 15 stacks, the stacks are consumed, and the caster receives the buff Stigma of Death, which decreases Occultism skill cooldowns by 15%, decreases Received Healing and damage to and from all enemies within a radius of 8m by 15%, and lasts for 6 seconds.<br/>While Stigma of Death is active, the caster does not receive stacks of Stigma.'},
			{tree: 'occultism', name: 'Enhanced mana recovery', type: 'passive', req: 8, description: 'Cast Time decreased by 2%.<br/>Attack Speed increased by 40.'},
			{tree: 'occultism', name: 'Reprisal', type: 'passive', req: 10, description: 'Increases Critical Rates by 2% for 4 seconds after receiving Critical Damage.<br/>This effect stacks up to 10 times.'},
			
			{tree: 'shadowplay', name: 'Rapid Strike', type: 'active', level_req: 1, mana_req: 8, range: '0-4m', attack: '<b>Melee Attack</b> +66%', cast_time: 'Instant', cooldown: '0 Seconds', effect: 'Backstabbing increases Melee Critical Rate +50%. <br/> Repeated usage of Rapid Strike increases the speed of the skill. <br/> Hold down for continuous use.', description: 'Deals 0 + 66% Melee Attack'},
			{tree: 'shadowplay', name: 'Poisoning', type: 'active', level_req: 3, mana_req: 93, range: 'Self', attack: '<b>Magic Attack</b> +240%', cast_time: 'Instant', cooldown: '9 Seconds', effect: 'Grants a buff for 9 seconds which enchances your next Melee or Ranged attack with Poison, which deals Magic Damage over 6 seconds. <br/> Targets that are Poisoned have their Healing Effectiveness reduced by 30%. <br/> Poison debuff lasts for 6 seconds. <br/> The buff is used up along with your next attack.', description: 'Deals 1274 + 240% of your Magic Attack over 6 seconds'},
			{tree: 'shadowplay', name: 'Drop Back', type: 'active', level_req: 10, mana_req: 25, range: 'Self', cast_time: 'Instant', cooldown: '12 Seconds', effect: 'Drop backwards for a distance of 10m and gain the Drop Back buff for 2.5 seconds. <br/> Gain the Drop Back buff for 2.5 seconds, which makes Fireball, Antithesis and Sunder Earth instacast for the duration of the buff.'},
			{tree: 'shadowplay', name: 'Pin Down', type: 'active', level_req: 15, mana_req: 189, range: '0-4m', attack: '<b>Melee Attack</b> +150%', cast_time: 'Instant', cooldown: '21 Seconds', effect: 'Targets gain the Bleeding debuff, which deals Damage over 14 seconds.', description: 'Deals 1328 + 150% of your Melee Attack and deals 2597 damage in Bleed damage over 14 seconds.', combo: 'Poisoned targets are Silenced. <br/> If you have stacks of Bloodthirst, target is Staggered when Pin Down hits. <br/> If the target already has the Bleeding debuff applied to him, then the timer on the Bleeding debuff is reset.'},
			{tree: 'shadowplay', name: 'Overwhelm', type: 'active', level_req: 20, mana_req: 157, range: '0-10m', attack: '<b>Melee Attack</b> +100%', cast_time: 'Instant', cooldown: '18 Seconds', description: 'Deals 1176 + 100% Melee Attack.', combo: 'If you have stacks of Bloodthirst, target is Staggered for 0.3 seconds when Overwhelm hits. <br/> Overwhelm always hits Stalker\'s Marked targets.'},
			{tree: 'shadowplay', name: 'Stalkers Mark', type: 'active', level_req: 25, mana_req: 63, range: '0-25m', cast_time: 'Instant', cooldown: '27 Seconds', effect: 'Marks enemies with the Stalker\'s Mark debuff for 15 seconds, which increases Ranged and Magic Damage dealt to them by 16.0%.'},
			{tree: 'shadowplay', name: 'Stealth', type: 'active', level_req: 30, mana_req: 85, range: 'Self', cast_time: 'Instant', cooldown: '0 Seconds', effect: 'Stealths the caster for 45 seconds, decreasing Movement Speed by 5%. <br/> Stealth is broken by using any action. <br/> If you stay in Stealth for over 25 seconds, you gain a stack of Bloodthirst every second, which increases all skill damage and healing by 3%. <br/> Bloodthirst is accumulated up to 10 times, but you lose 2 stacks of it every time you attack.'},
			{tree: 'shadowplay', name: 'Wallop', type: 'active', level_req: 35, mana_req: 291, range: '0-4m', attack: '<b>Melee Attack</b> +320%', cast_time: 'Instant', cooldown: '12 seconds', description: 'Deals 2131 + 320% Melee Attack. <br/> Wallop has up to 4 maximum consecutive attacks.', combo: 'If you have stacks of Bloodthirst, target is Staggered for 0.3 seconds when Wallop Strike hits. <br/> If the target is Poisoned, then that target receives a debuff which increases the amount of damage they receive by 1.4% for 10 seconds. This debuff can stack up to 4 times.'},
			{tree: 'shadowplay', name: 'Freerunner', type: 'active', level_req: 40, mana_req: 79, range: '0-12m', attack: '<b>Melee Attack</b> +100%', cast_time: 'Instant', cooldown: '12 seconds', effect: 'Grants the Freerunner buff for 30 seconds, which increases Attack Speed by 64 and Movement Speed by 40.0%'},
			{tree: 'shadowplay', name: 'Shadowsmite', type: 'active', level_req: 45, mana_req: 106, range: '0-4m', attack: '<b>Melee Attack</b> +0%', cast_time: 'Instant', cooldown: '24 seconds', effect: 'Backstabbing adds Physical Damage to Shadowsmite equal to 400% Melee Attack.', description: 'Deals 779 + 0% Melee Attack.', combo: 'Stunned targets are Tripped for 2.5 seconds. <br/> Inflicts an additional 98% damage when the caster is Stealthed. <br/> The caster receives 1 stack of Blood Frenzy for 0.5 seconds if the caster uses Shadowsmite out of Stealth. <br/> Poisoned targets are Shackled for 5.7 seconds.'},
			{tree: 'shadowplay', name: 'Leech', type: 'active', level_req: 50, mana_req: 79, range: '0-12m', cast_time: 'Instant', cooldown: '45 seconds', effect: 'Steals one buff from the target, and gives it to you. <br/> Leech has a small chance to steal up to 3 buffs from the target.', combo: 'If the caster is under the effects of Spell Shield, then Leech steals at least one additional buff from the target (So Leech is guaranteed to steal two buffs).'},
			{tree: 'shadowplay', name: 'Throw Dagger', type: 'active', level_req: 55, mana_req: 402, range: '0-10m', attack: '<b>Melee Attack</b> +120%', cast_time: 'Instant', cooldown: '35 seconds', effect: 'Flings a dagger that deals damage to a single target and then ricochets to 5 additional enemies, dealing damage to all those who are hit by Throw Dagger, anc receiving 1 stack of Bloodthirst per enemy hit, with 6 maximum stacks received. <br/> Each enemy hit receives the following debuff for 3 seconds: <br/> Attack Speed reduced by 400 <br/> Cast Time reduced by 40%', combo: 'Increases range by 10m if used under the effect of Drop Back. <br/> If the target is Poisoned, then Throw Dagger reduces that target\'s Movement Speed by 40% for 3 seconds.'},
			{tree: 'shadowplay', name: 'Shadow mastery', type: 'passive', req: 2, description: 'Increases Attack Speed by 40.'},
			{tree: 'shadowplay', name: 'Loophole', type: 'passive', req: 4, description: 'Increases your Evasion by 5%.'},
			{tree: 'shadowplay', name: 'Bloodthirst intensified', type: 'passive', req: 6, description: 'Increases accumulated Bloodthirst by 2 times.'},
			{tree: 'shadowplay', name: 'Piercing', type: 'passive', req: 8, description: 'Increases your Attack Speed by 120 for 8 seconds following a successful Critical hit.<br/>This ability goes on cooldown for 12 seconds once triggered.'},
			{tree: 'shadowplay', name: 'Evasive counterstrike', type: 'passive', req: 10, description: 'Following a successful Evasion, the skills Drop Back and Overwhelm have their cooldowns immediately reset.<br/>This ability goes on cooldown for 12 seconds once triggered.'},

			{tree: 'auramancy', name: 'Thwart', type: 'active', level_req: 1, mana_req: 88, range: '0-6m', cast_time: 'Instant', cooldown: '15 Seconds', description: 'Grants the 1 stack of Inspired for 16 seconds, which grants a shield that absorbs 1 hit up to 5,000 damage.<br/>Inspired can stack up to 3 times (For up to 3 hits).', effect: 'Inflicts Shaken on all enemies within a 6m radius for 3 seconds.'},
			{tree: 'auramancy', name: 'Comets boon', type: 'active', level_req: 3, mana_req: 327, range: '0-31m', attack: '<b>Magic Attack</b> +100%', cast_time: 'Instant', cooldown: '12 Seconds', description: 'Deals 1197 + 100% of your Magic Attack.', effect: 'Increases the Move Speed of all allies it passes.'},
			{tree: 'auramancy', name: 'Spell shield', type: 'active', level_req: 10, mana_req: 71, range: 'Self', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Grants a shield for 8 seconds that converts 42% of Magic Damage received to Health.', combo: 'Gain Magic Shield while under Shrug It Off.', effect: 'Does not trigger Global Cooldowns.'},
			{tree: 'auramancy', name: 'Vicious implosion', type: 'active', level_req: 15, mana_req: 497, range: '0-10m', attack: '<b>Magic Attack</b> +150%', cast_time: 'Instant', cooldown: '15 Seconds', description: 'Deals 1814 + 150% of your Magic Attack.</br>Enemies within the 10m radius are pulled in towards you.', combo: 'Triples your Aggro when used on Taunted targets.'},
			{tree: 'auramancy', name: 'Teleportation', type: 'active', level_req: 20, mana_req: 29, range: 'Self', cast_time: 'Instant', cooldown: '20 Seconds', description: 'Teleports the caster 15m forward.<br/>Can’t teleport through walls or solid objects.</br>Can’t be used while Snared.'},
			{tree: 'auramancy', name: 'Courageous action', type: 'active', level_req: 25, mana_req: 55, range: '0-20m', cast_time: 'Instant', cooldown: '9 Seconds', description: 'Grants immunity to Sleep for 1 minute.'},
			{tree: 'auramancy', name: 'Meditate', type: 'active', level_req: 30, mana_req: 0, range: 'Self', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Recovers 2% of of your maximum Mana Pool every 1 second for 5 seconds.</br>Removes all Fear effects upon cast, and gives the caster immunity to Fear effects for the duration.<br/>Cannot be used in PvP.'},
			{tree: 'auramancy', name: 'Health lift', type: 'active', level_req: 35, mana_req: 106, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute and 30 Seconds', description: 'Increases max Health +4,172. Affects caster and raid members within the radius for 20 seconds.'},
			{tree: 'auramancy', name: 'Shrug it off', type: 'active', level_req: 40, mana_req: 88, range: 'Self', cast_time: 'Instant', cooldown: '30 Seconds', description: 'Grants Shrug It Off for 5 seconds, which decreases Received Magic Damage by 16%.<br/>Can be used at any point in time (While on standby, for example).<br/>Does not trigger Global Cooldowns.', effect: 'Removes all Fear effects.'},
			{tree: 'auramancy', name: 'Nethers Will', type: 'active', level_req: 45, mana_req: 85, range: '0-20m', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Places a debuff that lasts for 10 seconds on all enemies within a radius of 10m at a target location that decreases Health Regen by 100%.<br/>If the target is a pet or vehicle, then that target will additionally receive 200% increased damage.'},
			{tree: 'auramancy', name: 'Protective wings', type: 'active', level_req: 50, mana_req: 238, range: '0-5m', attack: '<b>Magic Attack</b> +300%', cast_time: 'Instant', cooldown: '2 Minutes', description: 'Reduces Magic damage received by allies within the radius by 50%.'},
			{tree: 'auramancy', name: 'Fortress', type: 'active', level_req: 55, mana_req: 142, range: '0-10m', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Selects up to 5 enemies within 10m radius at random, pushes them away from you, and for each enemy pushed away, the caster receives 10% less Magic Damage for the next 2 seconds.'},
			{tree: 'auramancy', name: 'Improved targeting', type: 'passive', req: 2, description: 'Increases the Accuracy of all attack types by +5%.'},
			{tree: 'auramancy', name: 'Magic condenser', type: 'passive', req: 4, description: 'Reduces Sleep and Fear debuff  durations by 20%.'},
			{tree: 'auramancy', name: 'Hearten', type: 'passive', req: 6, description: 'Doubles the duration of Inspire.'},
			{tree: 'auramancy', name: 'Unassailable', type: 'passive', req: 8, description: 'Grants a 1% chance to become immune to all damage for 2 seconds after receiving any damage.<br/>This ability has a 20 second cooldown once triggered.'},
			{tree: 'auramancy', name: 'Teleportation discipline', type: 'passive', req: 10, description: 'Decreases Received Magic Damage by 30% for 3 seconds after receiving Magic Critical Damage.<br/>This ability has a 20 second cooldown once triggered.'},

			{tree: 'songcraft', name: 'Critical discord', type: 'active', level_req: 1, mana_req: 94, range: '0-20m', attack: '<b>Magic Attack</b> +130%', cast_time: 'Instant', cooldown: '16 Seconds', description: 'Deals 691 + 130% of your Magic Attack.<br/> Target receives a debuff called Resonance, which decreases their Physical and Magic Defense by 15%, and lasts for 5 seconds. <br/> This buff can stack up to 5 times.', combo: 'Targets under the effects of the Dissonance debuff have their debuff length increased by 50%.'},
			{tree: 'songcraft', name: 'Dissonance', type: 'active', level_req: 3, mana_req: 155, range: '0-20m', attack: '<b>Magic Attack</b> +140%', cast_time: 'Instant', cooldown: '18 Seconds', description: 'Deals 1161 + 140% of your Magic Attack.<br/>Disables the usage of Left-Hand equipment for 6 seconds.<br/>The skill damage of affected targets is reduced by 35%.<br/>Can be cast while playing Songs from the Songcraft tree.'},
			{tree: 'songcraft', name: 'Quickstep', type: 'active', level_req: 10, mana_req: 162, range: 'Self', cast_time: 'Instant', cooldown: '2 Seconds', description: 'Plays a song for 15 seconds that increases the Movement Speed of all allies within a 10m radius by 20-28%.<br/>The effect increases the longer you play Quickstep.<br/>Only stacks with other Song skills, and shares a cooldown with them.<br/>Shares a cooldown with other [Perform] skills.<br/>Effects only stack with other [Perform] skills.', combo: 'Charmed targets are Slowed.<br/>Targets under the effects of Dissonance have their Attack Speed reduced.'},
			{tree: 'songcraft', name: 'Startling strain', type: 'active', level_req: 15, mana_req: 28, range: '0-15m', cast_time: 'Instant', cooldown: '18 Seconds', description: 'Once the Snare is over, the target is Charmed for 28 seconds.<br/>While Charmed, targets are susceptible to other Songcraft skill effects.', effect: 'Snares target for 2 seconds.', combo: 'If the target is under the effect of Dissonance, the Charm effect lasts 50% longer.'},
			{tree: 'songcraft', name: 'pursuit', type: 'active', level_req: 20, mana_req: 29, range: 'Self', cast_time: 'Instant', cooldown: '28 Seconds', description: 'Grants the caster a buff that increases their Movement Speed by 200%. Lasts for 2 seconds.'},
			{tree: 'songcraft', name: 'Ode to recovery', type: 'active', level_req: 25, mana_req: 167, range: 'Self', cast_time: 'Instant', cooldown: '2 Seconds', description: 'Plays a Healing Song for 15 seconds that heals all allies within a 10m radius.<br/>Increases Received Healing by 21-33% for all allies within the radius, and heals allies for 217 (Note: This amount depends on your Healing Power, but the specific ratio is currently unknown. This number is based off of 41.60 Healing Power) per second.<br/>Shares a cooldown with other [Perform] skills.<br/>Effects only stack with other [Perform] skills.', combo: 'Inflicts 852 – 928 (Note: This amount depends on your Healing Power, but the specific ratio is currently unknown) a second on a Charmed enemy.<br/>Enemies under the effect of Dissonance have their Received Healing reduced by 30%.'},
			{tree: 'songcraft', name: 'Healing hymn', type: 'active', level_req: 30, mana_req: 307, range: '0-30m', attack: '<b>Healing Power</b> +0%', cast_time: 'Instant', cooldown: '15 Seconds', description: 'Heals 1123 + 0% of your Healing Power.<br/>Plays a song that instantly restores Health for an ally. This effect can then travel to up to 2 allies within a 10m radius. This can repeat up to 3 times.'},
			{tree: 'songcraft', name: 'Hummingbird ditty', type: 'active', level_req: 35, mana_req: 52, range: 'Self', cast_time: 'Instant', cooldown: '8 Seconds', description: 'Every 3 seconds that a Song is played, this buff gains another stack.<br/>Stacks up to 15 times.', effect: 'Gives a stack of the Rythm buff, which last for 9 seconds.<br/>Increases all Critical Damage by 1%.<br/>Reduces the cooldown of all Songcraft skills by 0.4 seconds.'},
			{tree: 'songcraft', name: 'Bullwark ballad', type: 'active', level_req: 40, mana_req: 151, range: 'Self', cast_time: 'Instant', cooldown: '2 Seconds', description: 'Plays a Song for 15 seconds with a radius of 10m that increases Physical and Magic Defense by 1600-2400.<br/>Shares a cooldown with other [Perform] skills.<br/>Effects only stack with other [Perform] skills.', combo: 'Charmed enemies have their Physical and Magic Defense reduced by 50%.<br/>Enemies under the effect of Dissonance have 10% of their Physical and Magic Defense ignored by damage.'},
			{tree: 'songcraft', name: 'Alarm call', type: 'active', level_req: 45, mana_req: 170, range: '0-15m', cast_time: 'Instant', cooldown: '45 Seconds', description: 'Enemies cannot target allies for 5 seconds (They can still use Area of Effect spells on them).<br/>Allies within the radius have up to 1 debuff removed.<br/>Shares a cooldown with other [Perform] skills.<br/>If Alarm Call is cast, it can only be recast by other affected allies within 5 seconds.'},
			{tree: 'songcraft', name: 'Bloody chantey', type: 'active', level_req: 50, mana_req: 228, range: 'Self', cast_time: 'Instant', cooldown: '2 Seconds', description: 'Plays a Song for 15 seconds with a radius of 10m that increases the damage dealt by allies by 18-26%.<br/>Increases allies’ Attack Speed by 282.<br/>Shares a cooldown with other [Perform] skills.<br/>Effects only stack with other [Perform] skills.', combo: 'Charmed targets have their Skill Damage reduced by 20%.<br/>Targets under the effect of Dissonance have their Accuracy reduced by 10%.'},
			{tree: 'songcraft', name: 'Griefs Cadence', type: 'active', level_req: 55, mana_req: 355, range: '0-50m', cast_time: '5 Seconds', cooldown: '2 Minutes', description: 'Summons a AoE circle at target area for 30 seconds, which increases allies’ Attack Speed +350 and their Movement Speed +30% for as long as they are in the 30m radius.'},
			{tree: 'songcraft', name: 'Syncopation', type: 'passive', req: 2, description: 'Increases the duration of harmful effects from Songs by 3 seconds.'},
			{tree: 'songcraft', name: 'Hold the note', type: 'passive', req: 4, description: 'Increases the duration of Quickstep, Bloody Chantey, Bulwark Ballad, and Ode to Recovery by 15 seconds.'},
			{tree: 'songcraft', name: 'Disciplined performance', type: 'passive', req: 6, description: 'Performance skills grant the Rythm buff every 3 seconds.<br/>Grants two stacks of Rythm instead of one when using Hummingbird Ditty.<br/>When a player reaches 15 stacks of Rythm, those stacks are consumed, and a new buff is given, which lasts for 20 seconds, and gives a 15% Increased Critical chance, the cooldown of Hummingbird Ditty is reduced to 6 seconds.'},
			{tree: 'songcraft', name: 'Zeal', type: 'passive', req: 8, description: 'Every successful Critical Damage/Heal triggers Zeal, which lasts for 6 seconds and increases all Critical Damage/Healing by 60%.<br/>Zeal goes on cooldown for 12 seconds when it is triggered.'},
			{tree: 'songcraft', name: 'Loud speaker', type: 'passive', req: 10, description: 'Increases the range of Quickstep, Bloody Chantey, Bulwark Ballad, and Ode to Recovery from 15m to 25m.'},

			{tree: 'vitalism', name: 'Holy Bolt', type: 'active', level_req: 1, mana_req: 99, range: '0-25m', attack: '<b>Healing Power</b> +120%', cast_time: '2.0 Seconds', cooldown: '0 Seconds', description: 'Deals 612 + 120% Healing Power', combo: 'Inflicts 37% more damage on Cursed targets. <br/> Heals Blessed allies by you as long as they are within 15m of the target. (Can also be used to heal the caster, but is 30% for the caster) <br/> Cast Time is reduced by 10% per stack of Bloodthirst.'},
			{tree: 'vitalism', name: 'Mirror Light', type: 'active', level_req: 3, mana_req: 15, range: '0-25m', cast_time: 'Instant', cooldown: '21 Seconds', effect: 'Caster/Allies: Removes one debuff and grants the Blessed buff for 1 minute and 30 seconds, which increases received healing by 15%. <br/> Enemies: Inflicts the Cursed debuff on target for 20 seconds, which increases received damage by 12%. This duration is 50% shorter in PvP. <br/> Enemies are Snared for 3 seconds.'},
			{tree: 'vitalism', name: 'Antithesis', type: 'active', level_req: 10, mana_req: 179, range: '0-25m', attack: '<b>Healing Power</b> +300%', cast_time: '2.0 Seconds', cooldown: '5 Seconds', description: 'Caster/Allies: Heals 537 + 300% Healing Power <br/> Enemies: Deals 906 + 260% Healing Power', combo: 'Targets under the effect of Renewal heal for 30% more. <br/> Inflicts 26% more damage on targets with the debuff from Dissonance. <br/> If the caster is under the effects of Freerunner, then the cooldown time of Antithesis is removed.'}, 
			{tree: 'vitalism', name: 'Resurgence', type: 'active', level_req: 15, mana_req: 147, range: '0-30m', attack: '<b>Healing Power</b> +280%', cast_time: 'Instant', cooldown: '0 Seconds', effect: 'Grants the Resurgence buff, which heals the target over 10 seconds.', description: 'Heals 538 + 280% Healing Power over 10 seconds.', combo: 'Targets under the effect of Renewal heal for 46% more.'},
			{tree: 'vitalism', name: 'Skewer', type: 'active', level_req: 20, mana_req: 434, range: '0-25m and 5m Radius', attack: '<b>Healing Power</b> +298%', cast_time: '2.8 Seconds', cooldown: '18 Seconds', effect: 'Skewers targets for 2.6 seconds.', description: 'Deals 1587 + 298% Healing Power', combo: 'Skewered targets receive an additional 45% damage.'},
			{tree: 'vitalism', name: 'Mend', type: 'active', level_req: 25, mana_req: 197, range: '20m Radius', attack: '<b>Healing Power</b> +360%', cast_time: '3.0 Seconds', cooldown: '16 Seconds', effect: 'Heals up to 10 allies within the 20m radius. Does not heal caster.', description: 'Heals 721 + 360% Healing Power', combo: 'Healing effectiveness increased by 30% when cast on an ally under the effect of Resurgence. <br/> Consumes Sacrifice buff to grant the Renewal buff to all affected allies. <br/> If the caster is under the effects of Urgency, then the cooldown time of Mend is removed.'},
			{tree: 'vitalism', name: 'Revive', type: 'active', level_req: 30, mana_req: 85, range: '0-25m', cast_time: '7.0 Seconds', cooldown: '0 Seconds', effect: 'Revives an ally and restores 90% of that ally’s maximum health and mana. <br/> Cannot be used during combat.', combo: 'If the caster has the buff Death’s Vengeance, then he can choose to cast Revive without selecting a target, thus healing all raid members (All 50) within a radius of 30m, but consuming the caster’s entire mana pool and his Death’s Vengeance buff, as well as putting Revive on a 1-minute cooldown.'},
			{tree: 'vitalism', name: 'Fervent Healing', type: 'active', level_req: 35, mana_req: 30, range: '0-30m', attack: '<b>Healing Power</b> +80%', cast_time: 'Instant', cooldown: '30 Seconds', effect: 'Can be cast up to 5 times, with each time increasing the amount of Health restored, but increasing in Mana cost.', description: 'Targets under the effect of Renewal are healed for 55% more. <br/> If the caster has the Purge buff active upon the usage of Fervent Healing, then Fervent Healing will additionally heal another random ally within the range (This works by the caster sending out two pairs of healing hearts, one to their target, and one to a random ally).'},
			{tree: 'vitalism', name: 'Renewal', type: 'active', level_req: 40, mana_req: 347, range: '0-30m', attack: '<b>Healing Power</b> +240%', cast_time: '1.0 Seconds', cooldown: '0 Seconds', effect: 'Target receives the Renewal buff.', description: 'Healing: 1267 + 240% of your Healing Power over 5.5 seconds', combo: 'Grants a 25% chance to trigger Gradual Recovery whenever damaged by an attack, healing the user over 30 sec.'},
			{tree: 'vitalism', name: 'Aranzebs Boon', type: 'active', level_req: 45, mana_req: 127, range: '25m Radius', cast_time: '2.0 Seconds', cooldown: '8 Seconds', effect: 'Increases all stats by 25. Lasts for 30 minutes.'},
			{tree: 'vitalism', name: 'Infuse', type: 'active', level_req: 50, mana_req: 1316, range: '20m Radius', attack: '<b>Healing Power</b> +900%', cast_time: 'Instant', cooldown: '35 Seconds', effect: 'Grants allies in the radius a shield that lasts for 8 seconds and absorbs up to [4805 + 900% Healing Power] damage. <br/> When the shield expires, allies have 6-8% of their max Mana restored.', description: 'Shields 4805 + 900% Healing Power'},
			{tree: 'vitalism', name: 'Fountain Of Healing', type: 'active', level_req: 55, mana_req: 867, range: 'Self', attack: '<b>Healing Power</b> +800%', cast_time: '2.0 Seconds', cooldown: '50 Seconds', effect: 'Grants you an Aura that heals 10 random allies in a 10m radius for a total of [1584 + 800% of your Healing Power] over 12 seconds.', description: 'Heals 1584 + 800% Healing Power over 12 seconds.'},
			{tree: 'vitalism', name: 'Invigorated healing', type: 'passive', req: 2, description: 'Increases Critical Heal Bonus by 20%.'},
			{tree: 'vitalism', name: 'Quick recovery', type: 'passive', req: 4, description: 'Resets cooldowns on all Vitalism healing skills after receiving critical damage or critical healing. If Quick Recovery is triggered too often, it will be disabled for 12 seconds.'},
			{tree: 'vitalism', name: 'Alms', type: 'passive', req: 6, description: 'Whenever a player casts Antithesis, Mend, or Fervent Healing, they gain a stack of the Prayer buff, which gives reduces Cast Time by 6%, lasts for 12 seconds, and can stack up to 5 times.<br/>Once Prayer stacks 5 times, the stacks are used up and replaced by the Sacrifice effect.<br/>Sacrifice lasts for 12 seconds, and grants the following:<br/>- Consumes 12-16% of current health when triggered.<br/>- Reduces Cast Time by 30%.<br/>- Adds an effect to Mend, which, when cast, consumes the Sacrifice buff and grants the Renewal buff to all affected allies.<br/>Prayer stacks cannot be obtained while the Sacrifice buff is active.'},
			{tree: 'vitalism', name: 'Spirit growth', type: 'passive', req: 8, description: 'Increases Spirit by 12%.'},
			{tree: 'vitalism', name: 'Defiance', type: 'passive', req: 10, description: 'Post-Cast Mana Regen is increased by a certain ratio in relation to the amount of Spirit that a player has.<br/>This has no effect on Mana restored while out of combat.'},

			{tree: 'defense', name: 'Shield Slam', type: 'active', level_req: 1, mana_req: 114, range: '0-4m', attack: '<b>Melee Attack</b> +90%', cast_time: 'Instant', cooldown: '18 Seconds', effect: 'Shield Slam can now be used on yourself, which when done increases your Shield Block Rate by 20% for 3 seconds.', description: 'Deals 863 + 90% Melee Attack.', combo: 'Snared targets are Staggered for 0.3 seconds.'},
			{tree: 'defense', name: 'Toughen', type: 'active', level_req: 3, mana_req: 69, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute', effect: 'Gives the Toughen buff, which increases Continous Health Regen by a certain amount. <br/> While active, you gain 50% of received damage as stacks of Mettle.'},
			{tree: 'defense', name: 'Bull Rush', type: 'active', level_req: 10, mana_req: 100, range: '0-4m', attack: '<b>Melee Attack</b> +140%', cast_time: 'Instant', cooldown: '30 Seconds', effect: 'Snares target for 5.7 seconds. <br/> Doubles Aggro generation for 5 seconds afterwards', description: 'Deals 736 + 140% Melee Attack', combo: 'Stunned targets are Tripped for 3.8 seconds.'},
			{tree: 'defense', name: 'Boastful Roar', type: 'active', level_req: 15, mana_req: 24, range: '0-10m', cast_time: 'Instant', cooldown: '24 Seconds', effect: 'Inflicts the Distressed debuff on target for 7 seconds, and deals damage equal to 60% of your current stacked Mettle. <br/> Distressed reduces the enemy’s Move Speed by -45%, Skill Damage by -20%, Attack Speed by -250, and healing effectiveness by -60%. <br/> Target is Taunted.', combo: 'If you are under the effects of Toughen, inflicts 60% more damage on your target.'},
			{tree: 'defense', name: 'Lasso', type: 'active', level_req: 20, mana_req: 29, range: '0-20m', cast_time: '0.2 Seconds', cooldown: '30 Seconds', effect: 'Pulls an enemy towards you over a 1 second duration, and Taunts them for 4 seconds.'},
			{tree: 'defense', name: 'Redoubt', type: 'active', level_req: 25, mana_req: 71, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute', effect: 'Mettle increases when receiving attacks. <br/> Raises a shield around you for 15 seconds, which does the following: <br/> Increases Block Rate +15% <br/> Decreases Movement Speed by 10% <br/> Prevents being Pushed or Tripped'},
			{tree: 'defense', name: 'Mocking Howl', type: 'active', level_req: 30, mana_req: 55, range: '7m Radius', cast_time: 'Instant', cooldown: '24 seconds', effect: 'Inflicts Shaken on all enemies within a 7m radius for 4 seconds. <br/> This ability also Taunts enemies within the radius. <br/> Builds additional Aggro equal to 100% of your stacked Mettle, consuming all stacks of Mettle when cast.', combo: 'Increases threat generation by two times if used while under the effects of Toughen. <br/> Provokes Taunted targets. <br/> Inflicts Distressed on targets if used while under the effects of Toughen.'},
			{tree: 'defense', name: 'Refreshment', type: 'active', level_req: 35, mana_req: 106, range: 'Self', cast_time: 'Instant', cooldown: '30 Seconds', effect: 'Increases your Maximum Health by 20% for 8 seconds.'},
			{tree: 'defense', name: 'Retribution', type: 'active', level_req: 40, mana_req: 97, range: 'Self', cast_time: 'Instant', cooldown: '30 Seconds', effect: 'Grants a buff for 10 seconds that reflects [1094 + 100% Melee Attack] of damage dealt to you to the caster. <br/> The damage is reflected as Melee Damage.', description: 'Deals 1094 + 100% Melee Attack'},
			{tree: 'defense', name: 'Revitalizing Cheer', type: 'active', level_req: 45, mana_req: 77, range: 'Self', cast_time: 'Instant', cooldown: '45 Seconds', effect: 'Consumes all Mettle. <br/> Removes Stun from caster.', description: 'Heals 1330 + 50% Mettle', combo: 'Heals for 25% mroe while under the effects of Toughen'},
			{tree: 'defense', name: 'Imprison', type: 'active', level_req: 50, mana_req: 159, range: '7m Radius', cast_time: 'Instant', cooldown: '2 Minutes', effect: 'Imprisons all players within a 7m-radius, circular boundary that lasts for 12 seconds. Players can break out if they use enough force.'},
			{tree: 'defense', name: 'Invincibility', type: 'active', level_req: 55, mana_req: 71, range: 'Self', cast_time: 'Instant', cooldown: '1 Minute and 40 Seconds', effect: 'Grants immunity to all damage for 6 seconds. <br/> Cancelled upon movement.'},
			{tree: 'defense', name: 'Shield edge', type: 'passive', req: 2, description: 'Increases Block Rate by +15% for 5 seconds after a Successful Block.'},
			{tree: 'defense', name: 'Spry fortress', type: 'passive', req: 4, description: 'Decreases Stun and Trip duration by 20%.'},
			{tree: 'defense', name: 'Bears vigor', type: 'passive', req: 6, description: 'Allows you to acquire Mettle.'},
			{tree: 'defense', name: 'Guardian', type: 'passive', req: 8, description: 'Increases Aggro Generation by +150%.'},
			{tree: 'defense', name: 'Supplemental block', type: 'passive', req: 10, description: 'After a successful Block, reduces Received Melee Damage by 30% for 3 seconds.<br/>If this passive is triggered too many times, it goes on a 20 second cooldown.'},
		],
		classes: [
			{name: 'Hexblade', trees: ['battlerage', 'witchcraft', 'defense']},
			{name: 'Hex Warden', trees: ['battlerage', 'witchcraft', 'auramancy']},
			{name: 'Hordebreaker', trees: ['battlerage', 'witchcraft', 'occultism']},
			{name: 'Dreadhunter', trees: ['battlerage', 'witchcraft', 'archery']},
			{name: 'Harbinger', trees: ['battlerage', 'witchcraft', 'sorcery']},
			{name: 'Shadowblade', trees: ['battlerage', 'witchcraft', 'shadowplay']},
			{name: 'Dirgeweaver', trees: ['battlerage', 'witchcraft', 'songcraft']},
			{name: 'Dervish', trees: ['battlerage', 'witchcraft', 'vitalism']},
			{name: 'Abolisher', trees: ['battlerage', 'defense', 'auramancy']},
			{name: 'Doomlord', trees: ['battlerage', 'defense', 'occultism']},
			{name: 'Liberator', trees: ['battlerage', 'defense', 'archery']},
			{name: 'Crusader', trees: ['battlerage', 'defense', 'sorcery']},
			{name: 'Blighter', trees: ['battlerage', 'defense', 'shadowplay']},
			{name: 'Dawncaller', trees: ['battlerage', 'defense', 'songcraft']},
			{name: 'Paladin', trees: ['battlerage', 'defense', 'vitalism']},
			{name: 'Bloodreaver', trees: ['battlerage', 'auramancy', 'occultism']},
			{name: 'Bonestalker', trees: ['battlerage', 'auramancy', 'archery']},
			{name: 'Enforcer', trees: ['battlerage', 'auramancy', 'sorcery']},
			{name: 'Darkrunner', trees: ['battlerage', 'auramancy', 'shadowplay']},
			{name: 'Herald', trees: ['battlerage', 'auramancy', 'songcraft']},
			{name: 'Argent', trees: ['battlerage', 'auramancy', 'vitalism']},
			{name: 'Dreadbow', trees: ['battlerage', 'occultism', 'archery']},
			{name: 'Ravager', trees: ['battlerage', 'occultism', 'sorcery']},
			{name: 'Executioner', trees: ['battlerage', 'occultism', 'shadowplay']},
			{name: 'Lorebreaker', trees: ['battlerage', 'occultism', 'songcraft']},
			{name: 'Blackguard', trees: ['battlerage', 'occultism', 'vitalism']},
			{name: 'Fiendhunter', trees: ['battlerage', 'archery', 'sorcery']},
			{name: 'Outrider', trees: ['battlerage', 'archery', 'shadowplay']},
			{name: 'Bloodskald', trees: ['battlerage', 'archery', 'songcraft']},
			{name: 'Warpriest', trees: ['battlerage', 'archery', 'vitalism']},
			{name: 'Hellweaver', trees: ['battlerage', 'sorcery', 'shadowplay']},
			{name: 'Spellsword', trees: ['battlerage', 'sorcery', 'songcraft']},
			{name: 'Fleshshaper', trees: ['battlerage', 'sorcery', 'vitalism']},
			{name: 'Blade Dancer', trees: ['battlerage', 'shadowplay', 'songcraft']},
			{name: 'Inquisitor', trees: ['battlerage', 'shadowplay', 'vitalism']},
			{name: 'Bloodthrall', trees: ['battlerage', 'songcraft', 'vitalism']},
			{name: 'Dreambreaker', trees: ['witchcraft', 'defense', 'auramancy']},
			{name: 'Defiler', trees: ['witchcraft', 'defense', 'occultism']},
			{name: 'Archon', trees: ['witchcraft', 'defense', 'archery']},
			{name: 'Cabalist', trees: ['witchcraft', 'defense', 'sorcery']},
			{name: 'Shadowknight', trees: ['witchcraft', 'defense', 'shadowplay']},
			{name: 'Poxbane', trees: ['witchcraft', 'defense', 'songcraft']},
			{name: 'Shadowbane', trees: ['witchcraft', 'defense', 'vitalism']},
			{name: 'Nightcloak', trees: ['witchcraft', 'auramancy', 'occultism']},
			{name: 'Arcane Hunter', trees: ['witchcraft', 'auramancy', 'archery']},
			{name: 'Arcanist', trees: ['witchcraft', 'auramancy', 'sorcery']},
			{name: 'Eidolon', trees: ['witchcraft', 'auramancy', 'shadowplay']},
			{name: 'Enchantrix', trees: ['witchcraft', 'auramancy', 'songcraft']},
			{name: 'Hierophant', trees: ['witchcraft', 'auramancy', 'vitalism']},
			{name: 'Shadestriker', trees: ['witchcraft', 'occultism', 'archery']},
			{name: 'Demonologist', trees: ['witchcraft', 'occultism', 'sorcery']},
			{name: 'Shroudmaster', trees: ['witchcraft', 'occultism', 'shadowplay']},
			{name: 'Tombcaller', trees: ['witchcraft', 'occultism', 'songcraft']},
			{name: 'Necromancer', trees: ['witchcraft', 'occultism', 'vitalism']},
			{name: 'Stormcaster', trees: ['witchcraft', 'archery', 'sorcery']},
			{name: 'Trickster', trees: ['witchcraft', 'archery', 'shadowplay']},
			{name: 'Hex Ranger', trees: ['witchcraft', 'archery', 'songcraft']},
			{name: 'Soulbow', trees: ['witchcraft', 'archery', 'vitalism']},
			{name: 'Daggerspell', trees: ['witchcraft', 'sorcery', 'shadowplay']},
			{name: 'Lamentor', trees: ['witchcraft', 'sorcery', 'songcraft']},
			{name: 'Shaman', trees: ['witchcraft', 'sorcery', 'vitalism']},
			{name: 'Nightwitch', trees: ['witchcraft', 'shadowplay', 'songcraft']},
			{name: 'Assassin', trees: ['witchcraft', 'shadowplay', 'vitalism']},
			{name: 'Athame', trees: ['witchcraft', 'songcraft', 'vitalism']},
			{name: 'Skullknight', trees: ['defense', 'auramancy', 'occultism']},
			{name: 'Bastion', trees: ['defense', 'auramancy', 'archery']},
			{name: 'Thaumaturge', trees: ['defense', 'auramancy', 'sorcery']},
			{name: 'Tomb Warden', trees: ['defense', 'auramancy', 'songcraft']},
			{name: 'Templar', trees: ['defense', 'auramancy', 'vitalism']},
			{name: 'Dreadstone', trees: ['defense', 'occultism', 'archery']},
			{name: 'Battlemage', trees: ['defense', 'occultism', 'sorcery']},
			{name: 'Dreadnaught', trees: ['defense', 'occultism', 'shadowplay']},
			{name: 'Dark Aegis', trees: ['defense', 'occultism', 'songcraft']},
			{name: 'Justicar', trees: ['defense', 'occultism', 'vitalism']},
			{name: 'Farslayer', trees: ['defense', 'archery', 'sorcery']},
			{name: 'Stone Arrow', trees: ['defense', 'archery', 'shadowplay']},
			{name: 'Honorguard', trees: ['defense', 'archery', 'songcraft']},
			{name: 'Druid', trees: ['defense', 'archery', 'vitalism']},
			{name: 'Swiftstone', trees: ['defense', 'sorcery', 'shadowplay']},
			{name: 'Earthsinger', trees: ['defense', 'sorcery', 'songcraft']},
			{name: 'Scion', trees: ['defense', 'sorcery', 'vitalism']},
			{name: 'Nightbearer', trees: ['defense', 'shadowplay', 'songcraft']},
			{name: 'Death Warden', trees: ['defense', 'shadowplay', 'vitalism']},
			{name: 'Caretaker', trees: ['defense', 'songcraft', 'vitalism']},
			{name: 'Astral Ranger', trees: ['auramancy', 'occultism', 'archery']},
			{name: 'Revenant', trees: ['auramancy', 'occultism', 'sorcery']},
			{name: 'Planeshifter', trees: ['auramancy', 'occultism', 'shadowplay']},
			{name: 'Phantasm', trees: ['auramancy', 'occultism', 'songcraft']},
			{name: 'Edgewalker', trees: ['auramancy', 'occultism', 'vitalism']},
			{name: 'Stormchaser', trees: ['auramancy', 'archery', 'sorcery']},
			{name: 'Primeval', trees: ['auramancy', 'archery', 'shadowplay']},
			{name: 'Howler', trees: ['auramancy', 'archery', 'songcraft']},
			{name: 'Oracle', trees: ['auramancy', 'archery', 'vitalism']},
			{name: 'Enigmatist', trees: ['auramancy', 'sorcery', 'shadowplay']},
			{name: 'Spellsong', trees: ['auramancy', 'sorcery', 'songcraft']},
			{name: 'Boneweaver', trees: ['auramancy', 'sorcery', 'vitalism']},
			{name: 'Exorcist', trees: ['auramancy', 'shadowplay', 'songcraft']},
			{name: 'Soothsayer', trees: ['auramancy', 'shadowplay', 'vitalism']},
			{name: 'Cleric', trees: ['auramancy', 'songcraft', 'vitalism']},
			{name: 'Spellbow', trees: ['occultism', 'archery', 'sorcery']},
			{name: 'Shadehunter', trees: ['occultism', 'archery', 'shadowplay']},
			{name: 'Gravesinger', trees: ['occultism', 'archery', 'songcraft']},
			{name: 'Blood Arrow', trees: ['occultism', 'archery', 'vitalism']},
			{name: 'Reaper', trees: ['occultism', 'sorcery', 'shadowplay']},
			{name: 'Requiem', trees: ['occultism', 'sorcery', 'songcraft']},
			{name: 'Cultist', trees: ['occultism', 'sorcery', 'vitalism']},
			{name: 'Nocturne', trees: ['occultism', 'shadowplay', 'songcraft']},
			{name: 'Doombringer', trees: ['occultism', 'shadowplay', 'vitalism']},
			{name: 'Sorrowsong', trees: ['occultism', 'songcraft', 'vitalism']},
			{name: 'Infiltrator', trees: ['archery', 'sorcery', 'shadowplay']},
			{name: 'Evoker', trees: ['archery', 'sorcery', 'songcraft']},
			{name: 'Naturalist', trees: ['archery', 'sorcery', 'vitalism']},
			{name: 'Ebonsong', trees: ['archery', 'shadowplay', 'songcraft']},
			{name: 'Ranger', trees: ['archery', 'shadowplay', 'vitalism']},
			{name: 'Soulsong', trees: ['archery', 'songcraft', 'vitalism']},
			{name: 'Spellsinger', trees: ['sorcery', 'shadowplay', 'songcraft']},
			{name: 'Animist', trees: ['sorcery', 'shadowplay', 'vitalism']},
			{name: 'Gypsy', trees: ['sorcery', 'songcraft', 'vitalism']},
			{name: 'Confessor', trees: ['shadowplay', 'songcraft', 'vitalism']},
		]
	}
  },
  methods: {
	getTooltip: function(skill) {
		var html = ''
		html +=	'<div class="tooltip__header">'
		html += '<img class="tooltip__image" src="/static/'+skill.tree+'/'+skill.type+'/'+skill.name.replace(/ /g, "-").toLowerCase()+'.png">'
		html += '<div class="tooltip__header-content">'
		html += '<span class="tooltip__tree">'+skill.tree+'</span>'
		html += '<span class="tooltip__type">'+skill.type+'</span>'
		html += '<span class="tooltip__name">'+skill.name+'</span>'
		html += '</div>'
		html +=	'</div>'
		if(typeof skill.mana_req != 'undefined' || typeof skill.range != 'undefined' || typeof skill.cast_time != 'undefined' || typeof skill.cooldown != 'undefined' || typeof skill.attack != 'undefined') {
			html += '<div class="tooltip__sub-head">'
			if(typeof skill.mana_req != 'undefined') {
				html += '<span><b>Mana</b> '+skill.mana_req+'</span><br/>'
			}
			if(typeof skill.range != 'undefined') {
				html += '<span><b>Range</b> '+skill.range+'</span><br/>'
			}
			if(typeof skill.cast_time != 'undefined') {
				html += '<span><b>Cast Time</b> '+skill.cast_time+'</span><br/>'
			}
			if(typeof skill.cooldown != 'undefined') {
				html += '<span><b>Cooldown</b> '+skill.cooldown+'</span><br/>'
			}
			if(typeof skill.attack != 'undefined') {
				html += '<span>'+skill.attack+'</span><br/>'
			}
			html += '</div>'
		}
		if(typeof skill.effect != 'undefined') {
			html += '<div class="tooltip__sub-head">'
			html += '<span>'+skill.effect+'</span><br/>'
			html += '</div>'
		}
		if(typeof skill.description != 'undefined') {
			html += '<div class="tooltip__description">'
			html += skill.description
			html += '</div>'
		}
		if(typeof skill.combo != 'undefined') {
			html += '<div class="tooltip__combo">'
			html += skill.combo
			html += '</div>'
		}
		
		return html
	},
	getShareLink: function() {
		var data = {
			max_skill_points: this.max_skill_points,
			max_level: this.max_level,
			min_level: this.min_level,
			active_trees: this.active_trees,
			active_tree_names: this.active_tree_names,
			active_skills: this.active_skills,
			skill_points: this.skill_points,
			current_class: this.current_class,
			trees: this.trees
		}
		var base64_data = btoa(JSON.stringify(data))
		this.share_link = 'http://' + this.host + '/?r='+base64_data
		this.$toasted.global.saved()
	},
	setMaxSkillPoints: function(max) {
		this.reset()
		this.max_skill_points = max
		if(max === 25) {
			this.max_level = 50
		}else {
			this.max_level = 55
		}
	},
	toggleSkill: function (skill) {
		var indexof = this.active_skills.indexOf(skill.name)
		
		//check if you are max lvl 50 and tyring to activate a 55 skill
		if(skill.name === 'Behind Enemy Lines' && this.max_level === 50 || skill.name === 'Deaths Vengeance' && this.max_level === 50 || skill.name === 'Throw Dagger' && this.max_level === 50 || skill.name === 'Gods Whip' && this.max_level === 50 || skill.name === 'Snipe' && this.max_level === 50 || skill.name === 'Fiends Knell' && this.max_level === 50 || skill.name === 'Fortress' && this.max_level === 50 || skill.name === 'Griefs Cadence' && this.max_level === 50 || skill.name === 'Fountain Of Healing' && this.max_level === 50 || skill.name === 'Behind Enemy Lines' && this.max_level === 50 || skill.name === 'Invincibility' && this.max_level === 50) {
			return false
		}
		//check if you have enough skillpoints
		if(this.skill_points === this.max_skill_points && indexof == -1) {
			this.$toasted.global.not_enough_points()
			return false
		}
		//check if passive can be activated
		if(typeof skill.req != "undefined") {
			if(this.skill_points < skill.req) {
				console.log('not enough skills active')
				return false
			}
			var skills_of_same_tree = this.filterSkills(skill.tree)
			var num_of_skills = 0
			for(var j=0;skills_of_same_tree.length > j; j++) {
				if(this.active_skills.indexOf(skills_of_same_tree[j].name) != -1) {
					num_of_skills++
				}
			}
			if(num_of_skills < skill.req) {
				console.log('not enough skills active')
				return false
			}
		}
		
		if (indexof != -1){
			this.active_skills.splice(indexof, 1)
		} else {
			this.active_skills.push(skill.name)
		}
		this.skill_points = this.active_skills.length
		
		var active_passives = []
		for(var key in this.trees) { //loop through all trees
			var passives = this.filterSkills(key, 'passive') //get all passive skills in that tree
			var all = this.filterSkills(key) //get all skill in that tree
			for(var i = 0; i < passives.length; i++) { // loop through passives
				var indexof1 = this.active_skills.indexOf(passives[i].name) // check if passive is active
				if(indexof1 != -1) { // if it is
					var skill_count = 0 
					for(var k = 0; k < all.length; k++) { // loop through all skills
						if(this.active_skills.indexOf(all[k].name) != -1) { // check if that skill is active
							skill_count++ // up count
						}
					}
					console.log(skill_count, this.active_skills)
					skill_count = skill_count - 1
					if(skill_count < passives[i].req) { // passive req 
						this.active_skills.splice(indexof1, 1)
						this.skill_points = this.active_skills.length
					}
				}
			}
		}
	},
	filterSkills: function (tree, type) {
		return this.skills.filter(function (skill) {  
			if(typeof type != 'undefined') {
				return skill.tree === tree && skill.type === type 
			}else {
				return skill.tree === tree 
			}
		})
	},
	selectClass: function(event) {
		this.reset() // reset all stats
		var curr = event.target.value // set the selected class name
		for(var i=0; i < this.classes.length; i++) { // loop through all classes
			if(this.classes[i].name === curr) { 
				var current_class = this.classes[i] // save the current class object
				for(var k=0; k < current_class.trees.length; k++) { // loop through all the trees that this class uses
					this.selectTree(current_class.trees[k]) // activate those trees
				}
			}
		}
	},
	selectTree: function(name, event) {
		var current = this.trees[name] // save current tree
		if(this.active_trees === 3 && !current.active) {
			this.$toasted.global.too_many_trees()
			return // check if 3 trees are already active
		}
		if(current.active) {
			var indexof = this.active_tree_names.indexOf(name)
			this.active_trees--
			this.active_tree_names.splice(indexof, 1)
			this.resetTree(name)
		}else {
			this.active_trees++
			this.active_tree_names.push(name)
		} // if the current is active remove 1 from active tree count and vice versa
		current.active = current.active ? false : true // if the current tree is active deactivate it and vice versa

		if(this.active_trees === 3) {
			var compare_tree = this.active_tree_names
			var obj = this.classes.filter(function (curr) {  return curr.trees.indexOf(compare_tree[0]) != -1 && curr.trees.indexOf(compare_tree[1]) != -1 && curr.trees.indexOf(compare_tree[2]) != -1 })	
			this.current_class = typeof obj[0].name != 'undefined' ? obj[0].name : ''
		}
	},
	resetTree: function(name) {
		var skills_of_same_tree = this.filterSkills(name)
		var num_of_skills = 0
		for(var j=0;skills_of_same_tree.length > j; j++) {
			var index = this.active_skills.indexOf(skills_of_same_tree[j].name)
			if(index != -1) {
				this.active_skills.splice(index, 1)
			}
		}
		this.skill_points = this.active_skills.length
	},
	reset: function() {
		// reset trees
		for (var key in this.trees) {
			if (!this.trees.hasOwnProperty(key)) continue;
			this.trees[key].active = false
		}
		// reset stats
		this.skill_points = 0
		this.min_level = 0
		this.active_trees = 0
		this.active_tree_names = []
		this.active_skills = []
		this.current_class = ''
		this.share_link = ''
	},
	setFromSave: function(save) {
		var data = JSON.parse(atob(save))
		for (var key in data) {
			if (data.hasOwnProperty(key)) {
				this[key] = data[key]
			}
		}
		this.$toasted.global.save_loaded()
	}
  },
  beforeMount() {
	this.reset()
	var current_host = window.location.hostname
	this.host = current_host === 'localhost' ? 'localhost:8080' : current_host
	var queries = this.$route.query
	if(typeof queries.r != 'undefined') {
		this.setFromSave(queries.r)
	}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
	.slide-fade-enter-active {
		transition: all .3s ease;
	}
	.slide-fade-leave-active {
		transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}
	.slide-fade-enter, .slide-fade-leave-to
		/* .slide-fade-leave-active below version 2.1.8 */ {
		transform: translateX(10px);
		opacity: 0;
	}
	.calculator {
		&__wrapper {
			clear: both;
		}
	}
	
	a {
		text-decoration: none;
		color: #000;
		&:hover {
			color: #019cc8;
		}
	}
	
	.share {
		margin-top: 20px;
	}
	
	.class-selector {
		padding: 20px 0;
		&__tree {
			cursor: pointer;
			display: inline-block; 
			margin-right: 10px;
			transition: 0.3s;
			&:hover {
				color: #019cc8;
			}
			&_active {
				font-weight: 700;
			}
		}
	}

	select {
		background: #019cc8;
		color: #fff;
		border: 1px solid #019cc8;
		font-size: 15px;
		padding: 8px 10px;
		&:focus {
			outline: none;
		}
	}
	
	.level-select {
		cursor: pointer;
		&_active {
			font-weight: 700;
		}
	}
	
	.skill-tree {
		width: 325px;
		display: inline-block;
		padding: 0 20px;
		&__inner-wrapper {
			border: 1px solid;
		}
		&__list {
			margin-right: -5px;
			clear: both;
			padding: 33px;
			overflow: hidden;
		}
		&__actives, &__passives {
			overflow: hidden;
		}
		&__passives {
			margin-top: 15px;
		}
		&__skill {
			position: relative;
			float: left;
			width: 50px;
			height: 50px;
			margin-right: 5px;
			margin-bottom: 5px;
			background-color: #f3f3f3;
			border: 1px solid #333;
			&_disabled {
				opacity: 0.5;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.5);
				}
			}
			&_passive.skill-tree__skill_disabled {
				&:before {
					content: attr(data-skill-req);
					font-size: 15px;
					color: #fff;
					z-index: 2;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	.header {
		background: #019cc8;
		padding: 20px;
		color: #fff;
		text-align: left;
		&__title {
			font-size: 20px;
			font-weight: 700;
			margin-right: 30px;
			display: inline-block;
			vertical-align: middle;
		}
		&__block {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			margin-right: 30px;
			&_float {
				float: right;
				h3 {
					font-size: 18px;
					font-weight: 700;
					margin-top: 10px;
				}
			}
		}
		&__block-title {
			font-size: 13px;
			font-weight: 300;
			margin-bottom: 4px;
		}
	}
	.disclaimer {
		margin-top: 25px;
		text-align: center;
		position: fixed;
    	bottom: 15px;
		span {
			font-weight: 700;
			color: #000;
			font-size: 15px;
		}
	}
</style>
