<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
* {
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}
.tooltip {
	  display: block ;
	  width: 360px;
	  z-index: 10000;
	  
	  &__header, &__sub-head, &__description {
		display: block;
		padding-bottom: 5px;
		border-bottom: 1px solid #fff;
		margin-bottom: 5px;
	  }
	  &__image {
		display: inline-block;
		margin-right: 15px;
	  }
	  &__tree {
		color: #fc4c02;
	  }
	  &__tree, &__type {
		font-size: 11px;
		line-height: 12px;
		margin-bottom: 2px;
	  }
	  &__tree, &__type, &__name {
		text-transform: capitalize;
		display: block;
	}
	&__name {
		font-size: 15px;
		line-height: 15px;
		margin-top: 4px;
		font-weight: 600;
	}
	  &__header-content {
		display: inline-block;
		vertical-align: top;
	  }

	  .tooltip-inner {
		font-size: 12px;
		line-height: 18px;
		color: #fff;
		padding: 10px;
		background-color: #424242;
	  }

	  .tooltip-arrow {
		display: none;
	  }

	  &[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
		  border-width: 5px 5px 0 5px;
		  border-left-color: transparent !important;
		  border-right-color: transparent !important;
		  border-bottom-color: transparent !important;
		  bottom: -5px;
		  left: calc(50% - 5px);
		  margin-top: 0;
		  margin-bottom: 0;
		}
	  }
	}
</style>
